@model CoreShop_V2.Areas.Admin.ViewModel.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

@section Css{
    <link href="~/assets/css/login.css" asp-append-version="true" rel="stylesheet" />
}

<div class="container">
    <div class="box"></div>
    <div class="container-forms">
        <div class="container-info">
            @*<div class="info-item">
                <div class="table">
                    <div class="table-cell">
                        <p>
                            Have an account?
                        </p>
                        <div class="btn">
                            Log in
                        </div>
                    </div>
                </div>
            </div>*@
            @*<div class="info-item">
                <div class="table">
                    <div class="table-cell">
                        <p>
                            Don't have an account?
                        </p>
                        <div class="btn" id="signForm">
                            Sign up
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="container-form reset-form">
            <div class="form-item log-in">
                <div class="table">
                    <form class="table-cell" method="post" asp-controller="Identity" asp-action="ResetPassword">
                        <input asp-for="@Model.Email" placeholder="Email" style="display:none;" value="@Model.Email" type="password" />
                        <input asp-for="@Model.Token" placeholder="Token" style="display:none;" value="@Model.Token" type="password" />
                        <input asp-for="@Model.Password" placeholder="Password" type="password" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        <input asp-for="@Model.ConfirmPassword" placeholder="Confirm Password" type="Password" />
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                        <div class="btn submit">
                            Reset
                        </div>
                    </form>
                </div>
            </div>
            @*<div class="form-item sign-up">
                <form class="table-cell"></form>
            </div>*@
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('.submit').click(function () {
                var submit = $(this);
                if ($(submit).parent("form").valid()) {
                    $(submit).parent("form").css("display", "none");
                    $('.reset-form').removeClass("reset-form");
                    $('.container').addClass("active");
                    setTimeout(function () {
                        $(submit).parent("form").submit();
                    }, 1000);
                } else {
                    setTimeout(function () {
                        $('.container').removeClass("active");
                    }, 10);
                }
            })
            
            if (window.location.href.search("confirm") != -1) {
                Swal.fire({
                    type: 'success',                      
                    title: "Reset password successfully !",
                    heightAuto: false,
                    showConfirmButton: false,
                    timer: 6000,
                    onClose: () => {
                        window.location.href = window.location.origin + "/Account/Login";
                    }
                })
            }
            history.pushState(null, null, window.location.origin + "/Account/ResetPassword");
        })
    </script>
}

